body{
    background: linear-gradient(pink, rgb(200, 175, 0), skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;

    text-align: center;
}

@keyframes backgroundChange{
    0%{background: linear-gradient(yellow, red, blue)}
    25%{background: linear-gradient(orange, violet, green)}
    50%{background: linear-gradient(skyblue, magenta, yellow)}
    75%{background: linear-gradient(blue, red)}
    100%{background: purple}
}

#header{
    font-size: 50px;
    color: rgb(62, 99, 221);
}
#header:hover{
    animation: 1s linear 0s infinite running backgroundChange;
}
.buttons{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.buttons:active{
    animation: 0.1s linear 0s 1 running clickAnimation;
}
.buttons:hover{
    animation: 1s linear 0s infinite running backgroundChange;
}

.images{
    width: 250px;
    border-radius: 8px;
}
#happyBirthday{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(62, 99, 221);

    position: relative;
}