body{
    background: linear-gradient(pink, rgb(200, 175, 0), skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes clickAnimation{
    0%{transform:matrix(0.5, 0, 0, 0.5, 0, 0)}
}
@keyframes backgroundChange{
    0%{background: linear-gradient(yellow, red, blue)}
    25%{background: linear-gradient(orange, violet, green)}
    50%{background: linear-gradient(skyblue, magenta, yellow)}
    75%{background: linear-gradient(blue, red)}
    100%{background: purple}
}

#header{
    width: 340px;
    border-radius: 8px;
}
#header:hover{
    animation: 1s linear 0s infinite running backgroundChange;
}
.buttons{
    font-size: 25px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.buttons:active{
    animation: 0.1s linear 0s 1 running clickAnimation;
}
.buttons:hover{
    animation: 1s linear 0s infinite running backgroundChange;
}

#pikaImage{
    width: 250px;
    border-radius: 8px;
    cursor: pointer;
}